.flexBoxContainer {
  border: 3px solid lightgrey;
  display: flex;
  height: 90vh;

  flex-direction: row; /* Default */
  justify-content: flex-end; /* Align to the END */
  align-items: flex-end;
}

.flexBox {
  flex-basis: 10rem; /* Overwrite WIDTH if direction is ROW and HEIGHT if direction is COLUMN */
  flex-grow: 1;
  width: 5rem;
  height: 5rem;

  background: gold;
  margin: 1rem;
}

.flexBox-one {
  flex-basis: 5rem;
  align-self: flex-start;
}
