<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="navbarItem">About</div>
      <div class="navbarItem">Courses</div>
      <div class="navbarItem">Forum</div>
      <div class="navbarItem">Learning Paths</div>
      <div class="navbarItem">Contact</div>
    </div>
  </body>
</html>
