<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML&CSS Practice</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- FlexBox -->
    <h3>FlexBox:</h3>
    <div class="flexBoxContainer">
      <div class="flexBox flexBox-one">A</div>
      <div class="flexBox">B</div>
      <div class="flexBox">C</div>
    </div>
    <!-- Grids -->
    <h3>Grid:</h3>
    <div class="gridContainer">
      <div class="gridBox gridBox-one">A</div>
      <div class="gridBox">B</div>
      <div class="gridBox">C</div>
      <div class="gridBox gridBox-last">D</div>
    </div>
    <!-- Responsive design -->
    <h3>Responsive design:</h3>
    <div class="responsiveContainer">
      <div class="responsiveBox">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus minima
          error optio ex alias officia culpa sed praesentium temporibus, fuga explicabo
          nam corrupti cum? Alias odit porro optio sapiente ipsam.
        </p>
      </div>
      <div class="responsiveBox">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, officiis vel
          unde, exercitationem harum eligendi quo minima ipsum, optio voluptatibus
          praesentium quae quam molestiae! Odit quam ex impedit voluptatum minima.
        </p>
      </div>
    </div>
  </body>
</html>
