@font-face {
  font-family: 'OpenSans Regular';
  src: url('./fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
    url('./fonts/open-sans/opensans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: optional; /* While its being downloaded, what to do  */
}

html {
  font-size: 65.5%;
}

body {
  margin: 10px;
  font-family: 'OpenSans Regular', Arial, Helvetica, sans-serif; /* Font stack */
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h1,
h2,
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  text-decoration: underline;
  text-transform: capitalize;
}

p {
  font-weight: normal;
  font-style: normal;
  color: #333;
  width: 50ch;
  text-align: left;
  column-count: 2;
  column-gap: 2rem;
  column-rule: 3px solid #999;
  direction: ltr;
}
p + p {
  text-indent: 1rem;
}
h1 {
  margin: 3rem 0 1rem;
}
