<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="photoContainer">
      <img src="https://picsum.photos/800/600?random=1" alt="x" class="photo" />
      <img src="https://picsum.photos/800/600?random=2" alt="x" class="photo" />
      <img src="https://picsum.photos/800/600?random=3" alt="x" class="photo" />
      <img src="https://picsum.photos/800/600?random=4" alt="x" class="photo" />
      <img
        src="https://picsum.photos/800/600?random=5"
        alt="x"
        class="photo focusedPhoto"
      />
      <img src="https://picsum.photos/800/600?random=6" alt="x" class="photo" />
      <img src="https://picsum.photos/800/600?random=7" alt="x" class="photo" />
      <img src="https://picsum.photos/800/600?random=8" alt="x" class="photo" />
      <img src="https://picsum.photos/800/600?random=9" alt="x" class="photo" />
    </div>
  </body>
</html>
